.contact__button{
    color: white;
    background: #ED4C5C;
    border: 1px solid #ED4C5C;
}
.contact__main--text{
    padding-right: 100px;
}
@media screen and (max-width:768px) {
    .contact__main--text{
        padding-right: 0;
    }
}