.management{
    &__main{
        &--title{
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 43px;
            color: #000000;
        }
        &--text{
            font-style: normal;
            max-width: 450px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #000000;
            padding-top: 24px;
        }
        &--link{
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #ED4C5C;
        }
    }
    &__image{
        & .playbutton{
            left: -5%;
            top: 40%;
        }
    }
}
@media screen and (max-width:768px) {
    .management__main--text{
        max-width: 100%;
    }
}