.footer {
  &__list {
    &--title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #101010;
      padding-bottom: 33px;
    }
    &--link {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      color: #101010;
    }
  }
  &__title {
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
  }
  .item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #000000;
  }
  &__text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #101010;
  }
}
