* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
img{
  vertical-align: middle;
  object-fit: cover
}
@import "./mixin";
@import "./veraybels";
@import "./all-block/allblock";
